# Archivos y directorios del entorno virtual
venv/
*.pyc
__pycache__

# Archivos de configuración del IDE
.idea/
.vscode/

# Archivos de configuración de Python
*.pyo
*.pyd
.Python

# Archivos de base de datos
db.sqlite3
*.sqlite3

# Archivos de migraciones
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3

# Carpeta de media (para archivos subidos por usuarios)
media/

# Carpeta de estáticos (para archivos generados por `collectstatic`)
static/

# Archivos de caché de Django
*.log

# Archivos de entorno (env)
.env